		</div>
		<nav class="navbar footer pt-3 pb-3 navbar-dark bg-dark">
		  <div class="container">
		  	<p class="mb-0 text-white">{{footerMsg}}</p>
		  </div>
		</nav>
		<script src="/js/app.js"></script>
	</body>
</html>